/* Very simple stylesheet */

webstore {
    background-color:#ffffff;
    width:100%;
}

product{
    display: block;
    margin-bottom: 30pt;
    margin-left: 0;
}

name{
    color: #000000;
    font-size: large;
}

price{
    color: #e04141;
    font-size: medium;
    
}

description{
    color: #000000;
    font-size: small;
    margin-left: 20pt;
}

condition{
    color: rgb(172, 172, 172);
    font-size: small;
    margin-left: 20pt;
}