/*EVERYTHING*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /*Container Stuff*/
  .container{
    margin:auto;
    overflow: hidden;
  }
  
/*Header Stuff*/
header{
  height:75px;
  border-bottom: white 5px solid;
  background-color: black;
}

header a{
    text-decoration: none;
    color: white;
}

header a:hover{
    text-shadow: 0 0 5px white, 0 0 7px white;
}

#logo{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    padding: 20px 15px 10px 15px;
}

#profile{
    float:right;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    padding: 20px 15px 10px 15px;
}

#addlisting{
    margin-top: 15px;
    margin-right: 5px;
    background-color: #424242;
    float:right;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    background-color: #424242;
    border-radius: 10px;
}

  
  /*Body Stuff*/
  body{
    background-color: #424242;
  }

.product-info{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin-left: 30px;
  background-color: black;
  border-radius: 10px;
}

.product-info h1{
  font-size: 100px;
  margin-bottom: 10px;
  padding: 10px;
}

a{
  text-decoration: none;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

a:hover{
  color:white;
  text-shadow: 0 0 5px white, 0 0 7px white;
}

.product-info h2{
  font-size: 30px;
  margin-bottom: 10px;
  padding: 10px;
}

.product-info h3{
  font-size: 50px;
  margin-bottom: 10px;
  padding: 10px;
}

.product-info h4{
  font-size: 20px;
  margin-bottom: 10px;
  padding: 10px;
}

.product-image{
  max-width: 80%;
  display: grid;
  padding: 10px;
  float: left;
  grid-template-columns: 200%;
}

.grid-item{
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  font-size: 30px;
  text-align: left;
}

img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.grid-container {
  display: grid;
  font-family: Arial, Helvetica, sans-serif;
  grid-template-columns: 1fr 1fr;
  /*grid-template-columns: 49% 49%;*/
  grid-gap: 2px;
  padding: 10px;
  margin-left: 2%;
  margin-top: 10px;
}

